/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
li {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: black;
  padding: 30px;
  font-size: 30px;
  padding-left: 10px;
}
.check {
    display: inline-block;
    margin-right: 10px;
}
input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  margin: 3px 0.5ex;
  padding: initial;
  border: initial;
}
 blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.App-title {
  font-size: 4.5em;
  text-align: center;
  font-family: 'Muli', sans-serif;
  padding-top: 30px;
}

button {
background-color: orange;
display: inline-block;
border-radius: 2px;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
font-size: 15px;
width: 100px;
height: 43px;
}

button:hover {
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 15px 0 rgba(0,0,0,0.19);
}
.things, input {
  float: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 30px;
}
button, input {
  vertical-align: bottom;
}
.things {
  padding-top: 50px;
  font-size: 35px;
}

#root {
  background-color: #ffcc80;
  background-image:
    linear-gradient(45deg, #fff 25%, transparent 25%), 
    linear-gradient(135deg, #fff 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #fff 75%),
    linear-gradient(135deg, transparent 75%, #fff 75%);
  background-size:25px 25px; /* Must be a square */
  background-position:0 0, 12.5px 0, 12.5px -12.5px, 0px 12.5px; /* Must be half of one side of the square */
  padding: 50px 0;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
  justify-content: center;
  border: 25px solid #ffcc80;
  border-radius: 15px;
  box-sizing: border-box;
  background: #ffffff;
  width: 1000px;
  margin: 0 auto;
  height: 100%;
}

h1 {
  width: 100%;
  flex-basis: 100%;
}

.column {
  flex: 1;
  justify-content: center;
  text-align: center;
}
