ul.List {
  text-align: left;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

ul.List li {
  flex-basis: calc(33.33% - 72px);
  margin: 15px 20px;
}

ul.List li input[type='checkbox'] {
  margin: 0 22px 6px 16px;
  transform: scale(2);
  vertical-align: middle;
}

.check {
	display: inline-block;
	margin-right: 10px;
}

.complete {
	text-decoration: line-through
}

.incomplete {
	
}
